{% extends "base.html" %}

{% block title %}City Heat Maps{% endblock %}

{% block style %}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, san-serif;
}

h1 {
  font-weight: normal;
  font-size: 3em;
  padding: 10px 15px;
  background-color: lightgrey;
  border-bottom: 1px solid grey;
}

h2 {
  font-weight: normal;
  font-size: 2em;
  padding: 10px 15px;
  background-color: lightblue;
  border-bottom: 1px solid blue;
}

p {
  font-size: 1.5em;
  padding: 10px 15px;
}

form {
  padding: 0 15px;
}

button, input {
  font-size: 1.5em;
}

ul {
  margin: 10px 15px;
}

li a {
  font-size: 1.5em;
  background-color: yellow;
}

li {
  margin-bottom: 15px;
}

{% endblock %}

{% block body %}
<h1>City Heat Maps</h1>
<p>
  View heat maps of restaurants, bars, and coffee shops for your
  favorite city.
</p>

<h2>Cities</h2>
<ul>
  {% for city, link in cities %}
  <li><a href="{{ link }}">{{ city }}</a></li>
  {% endfor %}
</ul>

<h2>Don't see your city?</h2>
<p>Tell us about your city, and we'll add it!</p>
<form method="post" action="newcityrequest">
    <input type="text" id="name" name="name" placeholder="City name" />
    <button type="submit">Add</button>
</form>
{% endblock %}
