<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var seattle = {lat: 47.608013, lng: -122.335167};

      function initMap() {
        var map, points;
        points = [
          new google.maps.LatLng(47.608013, -122.335167),
        ];

        map = new google.maps.Map(document.getElementById('map'), {
          center: seattle,
          zoom: 12
        });

        new google.maps.visualization.HeatmapLayer({
          data: points,
          map: map
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKqLZqJwhRMAOnyogfkFDetkA0iEXtDbk&callback=initMap&libraries=visualization"
            async defer></script>

  </body>
</html>
